*{
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
    margin: 0 auto;
}


body .one {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
img{
    width: 25%;
    height: auto;
    display: flex;
    transition: all 0.5s ease-in-out;
}

img:hover{
    transform: skewX(20deg);
    box-shadow: -0.6em 0.6em 1px rgba(122,122,122);
}



